<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,435},{80,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,145}}</string>
				<key>sourceSize</key>
				<string>{81,145}</string>
			</dict>

			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,184},{67,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,137}}</string>
				<key>sourceSize</key>
				<string>{67,137}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,797},{105,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,141}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,293},{92,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{92,148}}</string>
				<key>sourceSize</key>
				<string>{92,150}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,293},{91,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,141}}</string>
				<key>sourceSize</key>
				<string>{92,141}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,522},{100,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,133}}</string>
				<key>sourceSize</key>
				<string>{100,133}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,0},{98,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,139}}</string>
				<key>sourceSize</key>
				<string>{98,139}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,0},{105,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,151}}</string>
				<key>sourceSize</key>
				<string>{105,152}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,140},{93,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,152}}</string>
				<key>sourceSize</key>
				<string>{95,152}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,780},{95,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,148}}</string>
				<key>sourceSize</key>
				<string>{95,148}</string>
			</dict>

			<key>A.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,384},{112,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,163}}</string>
				<key>sourceSize</key>
				<string>{112,163}</string>
			</dict>

			<key>B.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,522},{107,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,147}}</string>
				<key>sourceSize</key>
				<string>{107,147}</string>
			</dict>

			<key>C.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,127},{102,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,122}}</string>
				<key>sourceSize</key>
				<string>{102,122}</string>
			</dict>

			<key>D.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,0},{111,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,116}}</string>
				<key>sourceSize</key>
				<string>{111,116}</string>
			</dict>

			<key>E.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,918},{80,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,103}}</string>
				<key>sourceSize</key>
				<string>{80,103}</string>
			</dict>

			<key>F.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,0},{82,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,122}}</string>
				<key>sourceSize</key>
				<string>{82,122}</string>
			</dict>

			<key>G.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,384},{110,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,137}}</string>
				<key>sourceSize</key>
				<string>{110,137}</string>
			</dict>

			<key>H.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,670},{106,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,126}}</string>
				<key>sourceSize</key>
				<string>{106,126}</string>
			</dict>

			<key>I.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,0},{60,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,122}}</string>
				<key>sourceSize</key>
				<string>{60,122}</string>
			</dict>

			<key>J.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,242},{76,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,128}}</string>
				<key>sourceSize</key>
				<string>{76,128}</string>
			</dict>

			<key>K.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,797},{100,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,127}}</string>
				<key>sourceSize</key>
				<string>{100,127}</string>
			</dict>

			<key>L.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,0},{88,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,110}}</string>
				<key>sourceSize</key>
				<string>{88,110}</string>
			</dict>

			<key>M.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{136,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,127}}</string>
				<key>sourceSize</key>
				<string>{136,127}</string>
			</dict>

			<key>N.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,636},{120,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,138}}</string>
				<key>sourceSize</key>
				<string>{120,138}</string>
			</dict>

			<key>O.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,407},{100,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,114}}</string>
				<key>sourceSize</key>
				<string>{100,114}</string>
			</dict>

			<key>P.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,670},{99,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,115}}</string>
				<key>sourceSize</key>
				<string>{99,115}</string>
			</dict>

			<key>Q.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,253},{113,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,130}}</string>
				<key>sourceSize</key>
				<string>{113,130}</string>
			</dict>

			<key>R.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,0},{108,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,126}}</string>
				<key>sourceSize</key>
				<string>{108,126}</string>
			</dict>

			<key>S.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,253},{108,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,128}}</string>
				<key>sourceSize</key>
				<string>{108,128}</string>
			</dict>

			<key>T.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,656},{97,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,123}}</string>
				<key>sourceSize</key>
				<string>{97,123}</string>
			</dict>

			<key>U.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,403},{99,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,108}}</string>
				<key>sourceSize</key>
				<string>{99,108}</string>
			</dict>

			<key>V.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,548},{110,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,128}}</string>
				<key>sourceSize</key>
				<string>{110,128}</string>
			</dict>

			<key>W.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{134,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,97}}</string>
				<key>sourceSize</key>
				<string>{134,98}</string>
			</dict>

			<key>X.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,636},{118,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,125}}</string>
				<key>sourceSize</key>
				<string>{118,125}</string>
			</dict>

			<key>Y.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,152},{102,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,126}}</string>
				<key>sourceSize</key>
				<string>{102,126}</string>
			</dict>

			<key>Z.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{134,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,131}}</string>
				<key>sourceSize</key>
				<string>{134,131}</string>
			</dict>

			<key>a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,548},{97,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,84}}</string>
				<key>sourceSize</key>
				<string>{97,84}</string>
			</dict>

			<key>ampersand.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,775},{118,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{118,138}}</string>
				<key>sourceSize</key>
				<string>{120,139}</string>
			</dict>

			<key>b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,442},{92,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,130}}</string>
				<key>sourceSize</key>
				<string>{92,130}</string>
			</dict>

			<key>bracketclose.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{54,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,156}}</string>
				<key>sourceSize</key>
				<string>{56,156}</string>
			</dict>

			<key>bracketopen.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,322},{63,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,161}}</string>
				<key>sourceSize</key>
				<string>{63,162}</string>
			</dict>

			<key>c1.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,916},{74,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,85}}</string>
				<key>sourceSize</key>
				<string>{74,85}</string>
			</dict>

			<key>comma1.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,322},{47,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,64}}</string>
				<key>sourceSize</key>
				<string>{47,64}</string>
			</dict>

			<key>comma2.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,714},{50,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,45}}</string>
				<key>sourceSize</key>
				<string>{50,46}</string>
			</dict>

			<key>d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,581},{86,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,132}}</string>
				<key>sourceSize</key>
				<string>{86,132}</string>
			</dict>

			<key>e1.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,929},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,89}}</string>
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>

			<key>exclamation.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,810},{47,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,198}}</string>
				<key>sourceSize</key>
				<string>{47,198}</string>
			</dict>

			<key>f1.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,849},{82,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,168}}</string>
				<key>sourceSize</key>
				<string>{82,169}</string>
			</dict>

			<key>g1.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,780},{87,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,137}}</string>
				<key>sourceSize</key>
				<string>{87,137}</string>
			</dict>

			<key>h1.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,435},{89,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,145}}</string>
				<key>sourceSize</key>
				<string>{89,145}</string>
			</dict>

			<key>hash.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,128},{116,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,124}}</string>
				<key>sourceSize</key>
				<string>{117,125}</string>
			</dict>

			<key>i1.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,387},{40,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,123}}</string>
				<key>sourceSize</key>
				<string>{40,123}</string>
			</dict>

			<key>j1.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,0},{75,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,183}}</string>
				<key>sourceSize</key>
				<string>{77,183}</string>
			</dict>

			<key>k1.png</key>
			<dict>
				<key>frame</key>
				<string>{{899,546},{74,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,175}}</string>
				<key>sourceSize</key>
				<string>{74,175}</string>
			</dict>

			<key>l1.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,371},{75,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,174}}</string>
				<key>sourceSize</key>
				<string>{75,174}</string>
			</dict>

			<key>m1.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,926},{109,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,86}}</string>
				<key>sourceSize</key>
				<string>{110,86}</string>
			</dict>

			<key>minus.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,965},{94,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,32}}</string>
				<key>sourceSize</key>
				<string>{100,32}</string>
			</dict>

			<key>n1.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,929},{81,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,85}}</string>
				<key>sourceSize</key>
				<string>{81,85}</string>
			</dict>

			<key>o1.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,939},{88,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,81}}</string>
				<key>sourceSize</key>
				<string>{88,81}</string>
			</dict>

			<key>p1.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,111},{87,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,137}}</string>
				<key>sourceSize</key>
				<string>{87,137}</string>
			</dict>

			<key>percent.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,358},{134,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,162}}</string>
				<key>sourceSize</key>
				<string>{134,162}</string>
			</dict>

			<key>plus.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,521},{121,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{121,114}}</string>
				<key>sourceSize</key>
				<string>{130,114}</string>
			</dict>

			<key>point.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,939},{43,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,36}}</string>
				<key>sourceSize</key>
				<string>{43,36}</string>
			</dict>

			<key>q1.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,714},{85,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,134}}</string>
				<key>sourceSize</key>
				<string>{89,134}</string>
			</dict>

			<key>quotation.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,722},{71,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,66}}</string>
				<key>sourceSize</key>
				<string>{71,66}</string>
			</dict>

			<key>r1.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,242},{77,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,91}}</string>
				<key>sourceSize</key>
				<string>{77,91}</string>
			</dict>

			<key>s1.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,581},{79,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,96}}</string>
				<key>sourceSize</key>
				<string>{79,97}</string>
			</dict>

			<key>slash.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,775},{118,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,189}}</string>
				<key>sourceSize</key>
				<string>{118,189}</string>
			</dict>

			<key>space.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,998},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{-2,-2},{1,1}}</string>
				<key>sourceSize</key>
				<string>{88,1}</string>
			</dict>

			<key>star.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,926},{94,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,97}}</string>
				<key>sourceSize</key>
				<string>{94,98}</string>
			</dict>

			<key>t1.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,810},{69,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,155}}</string>
				<key>sourceSize</key>
				<string>{69,155}</string>
			</dict>

			<key>u1.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,573},{75,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,82}}</string>
				<key>sourceSize</key>
				<string>{75,82}</string>
			</dict>

			<key>v1.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,722},{71,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,87}}</string>
				<key>sourceSize</key>
				<string>{71,87}</string>
			</dict>

			<key>w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,677},{90,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,81}}</string>
				<key>sourceSize</key>
				<string>{90,81}</string>
			</dict>

			<key>x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,334},{75,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,79}}</string>
				<key>sourceSize</key>
				<string>{75,79}</string>
			</dict>

			<key>y1.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,123},{81,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,118}}</string>
				<key>sourceSize</key>
				<string>{81,118}</string>
			</dict>

			<key>z1.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,849},{74,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,66}}</string>
				<key>sourceSize</key>
				<string>{74,66}</string>
			</dict>

			<key>Ä.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,762},{112,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,163}}</string>
				<key>sourceSize</key>
				<string>{112,163}</string>
			</dict>

			<key>Ö.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,279},{100,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{100,127}}</string>
				<key>sourceSize</key>
				<string>{100,130}</string>
			</dict>

			<key>Ü.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,279},{99,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,123}}</string>
				<key>sourceSize</key>
				<string>{99,123}</string>
			</dict>

			<key>ä1.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,152},{97,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,105}}</string>
				<key>sourceSize</key>
				<string>{97,105}</string>
			</dict>

			<key>ö1.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,0},{88,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,100}}</string>
				<key>sourceSize</key>
				<string>{88,100}</string>
			</dict>

			<key>ü1.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,581},{75,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,105}}</string>
				<key>sourceSize</key>
				<string>{75,105}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>