<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bubble1</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {493, 400}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {493, 400}}</string>
			<key>sourceSize</key>
			<string>{493, 400}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>bubble2</key>
		<dict>
			<key>frame</key>
			<string>{{493, 0}, {480, 386}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {475, 386}}</string>
			<key>sourceSize</key>
			<string>{480, 386}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>gamefairy1</key>
		<dict>
			<key>frame</key>
			<string>{{973, 0}, {251, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16, 0}, {220, 318}}</string>
			<key>sourceSize</key>
			<string>{251, 320}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>gamefairy2</key>
		<dict>
			<key>frame</key>
			<string>{{1224, 0}, {283, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {253, 308}}</string>
			<key>sourceSize</key>
			<string>{283, 320}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>gamefairy3</key>
		<dict>
			<key>frame</key>
			<string>{{1507, 0}, {283, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {283, 320}}</string>
			<key>sourceSize</key>
			<string>{283, 320}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>gamefairy4</key>
		<dict>
			<key>frame</key>
			<string>{{1790, 0}, {251, 320}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {251, 320}}</string>
			<key>sourceSize</key>
			<string>{251, 320}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>hourglass</key>
		<dict>
			<key>frame</key>
			<string>{{0, 400}, {129, 230}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {129, 226}}</string>
			<key>sourceSize</key>
			<string>{129, 230}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		<key>bomb2</key>
		<dict>
			<key>frame</key>
			<string>{{129, 400}, {120, 120}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8, 1}, {105, 119}}</string>
			<key>sourceSize</key>
			<string>{120, 120}</string>
			<key>aliases</key>
			<array>

			</array>
		</dict>
		</dict>
		<key>metadata</key>
		<dict>
		<key>format</key>
		<integer>2</integer>
		<key>textureFileName</key>
		<string>fairies.png</string>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict></dict></plist>