<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubble1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{493,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,400}}</string>
                <key>sourceSize</key>
                <string>{493,400}</string>
            </dict>
            <key>bubble2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{480,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,386}}</string>
                <key>sourceSize</key>
                <string>{480,386}</string>
            </dict>
            <key>gamefairy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{251,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,320}}</string>
                <key>sourceSize</key>
                <string>{251,320}</string>
            </dict>
            <key>gamefairy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,404},{283,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,320}}</string>
                <key>sourceSize</key>
                <string>{283,320}</string>
            </dict>
            <key>gamefairy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,404},{283,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,320}}</string>
                <key>sourceSize</key>
                <string>{283,320}</string>
            </dict>
            <key>gamefairy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,404},{251,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,320}}</string>
                <key>sourceSize</key>
                <string>{251,320}</string>
            </dict>
            <key>hourglass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,404},{129,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,230}}</string>
                <key>sourceSize</key>
                <string>{129,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fairies.png</string>
            <key>size</key>
            <string>{1209,726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79967cc7920e5fe0887dcf87ecb44a08:b883b73a4631a87374570b12c7d9937c:bcf63b29d6ef475834456b997dda588c$</string>
            <key>textureFileName</key>
            <string>fairies.png</string>
        </dict>
    </dict>
</plist>
